Package: main
Version: 1.0-1
Architecture: amd64
Maintainer: Daryna  <dasha.kondratez@gmail.com>
Installed-Size: 23
Depends: libc6 (>= 2.34), libstdc++6 (>= 4.4)
Section: misc
Priority: optional
Description: calculate cos
