Source: main
Section: misc
Priority: optional
Maintainer: Daryna  <dasha.kondratez@gmail.com>
Standards-Version: 4.1.1

Package: main
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calculate cos

